# Ignore some file extensions
*tif
*.xml
*.xlsx
*.crdownload
*.zip
*.code-workspace
*.qgz
*.pyc
*.pdf
*rds
*.xcf
*.svg
*.txt
*.stan
*.exe
*.ico
*.jpg
*.jpeg

# Shapefiles and related files
*.csv
*.png
*.cpg
*.dbf
*.fix
*.prj
*.shp
*.shx

# Latex and related files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.lof
*.lot
*.rels

# Ignore specific documents
desktop.ini
chat.md
explanation_Terramaz.md
glad_gee_app.js
reference.docx
report_blueprint.md

# Quarto files
/scripts/quarto/.quarto
/scripts/quarto/docx
**/*.quarto_ipynb
!reference.docx
!report_v1.docx

# Ignore folders
/deforisk
/data_raw
/docs
/results
/qgis
/report
__pycache__
**/olds/

# Allow curated images for README
!/images/
!/images/*.png